/* resizing the headings */
@media screen and (max-width: 375px) {
  h2 {
    font-size: 2rem;
  }
}
@media screen and (max-width: 457px) {
  body {
    margin-left: 0;
    margin-right: 0;
  }
  .block-projects h5 {
    font-size: 5.2rem;
  }
  .header-text h1 {
    font-size: 5rem;
    text-align: center;
  }
  .container-projects {
    padding-top: 20rem;
    margin-bottom: 5rem;
  }
  .block-projects h2 {
    max-width: 100vw;
  }
  .block-projects {
    flex: 0 100%;
    overflow: hidden;
    margin-top: 5rem;
    margin-bottom: -4rem;
  }
  .block-details {
    width: 100%;
  }
}
/* MOBILE RESPONSIVENESS QUERIES */
@media screen and (max-width: 800px) {
  body {
    margin-top: 0rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }
  .image-link {
    height: 10rem;
  }
  .button-nav {
    text-align: center;
    width: 100%;
  }
  .project-details-wrapper {
    max-width: 100vw;
  }
}
/* Responsive navigation menu reference from https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_topnav_centered */
@media screen and (max-width: 1000px) {
  .container-header {
    width: 100%;
  }
  .header-text-detailed h5 {
    font-size: 2.5rem;
  }
}
@media screen and (max-width: 1220px) {
  .image-link {
    width: 100%;
    height: 800px;
  }
  .block-projects p {
    width: 100%;
  }
  .container-details {
    width: 100%;
  }
}